.dataCardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 50px;
}

.balanceTitle {
    padding: 50px;
    padding-bottom: 0px;
    font-size: 2rem;
    font-weight: 600;
}

.filterContainer {
    background-color: #00000077;    
    display: inline;
    padding: 15px 25px;
    border-radius: 5px;
    margin-left: 32px;

}

.customSelect {
    font-family: 'Poppins', sans-serif;
    background-color: #2f2f2f;
    /* vaaleanharmaa tausta */
    color: white;
    padding: 5px;
    border: 1px solid #cccccc42;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.customSelect:focus {
    outline: none;
    border-color: #6c63ff;
    /* korostettu väri fokusessa */
    box-shadow: 0 0 4px #6c63ff;
}

label {
    margin-right: 15px;
}



/* Tablet */
@media only screen and (max-width: 770px) {
    .dataCardsContainer {
        grid-template-columns: repeat(2, 2fr);
        gap: 30px;
        border: 1px solid red;
    }
    
    .balanceTitle {
        padding-top: 0px;
    }
    
    .filterContainer {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid red;
        padding-left: 0px;
        margin-left: 50px;
    }
    


}


/* Mobile */
@media only screen and (max-width: 480px) {
    .dataCardsContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding: 25px;
        padding-bottom: 70px;
    }
    
    .balanceTitle {
        padding: 0px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    .filterContainer {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .customLabel {
        display: block;
        margin-bottom: 20px;
        margin-left: 25px;
    }

}