/* GLOBAL STYLES */
:root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* margin-right: 50px; */
    background-color: #161616;
    color: white;
}

/* COMMON COMPONENTS */

/* Global button styling */
.global-btn {
    width: 9rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #6145B4 51%, rgba(97, 69, 180, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Global secundary button styling */
.global-btn-black {
    width: 9rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 3.1875rem;
    background: linear-gradient(90deg, #303030 51%, rgba(29, 27, 27, 0.37) 100%);
    backdrop-filter: blur(12.399999618530273px);
    color: white;
    font-size: 1rem;
}

/* Global Input-field styling */
.global-input {
    width: 100%;
    padding: 20px;
    border-radius: 0.7rem;
    background: #000;
    color: #fff;
    /* Border */
    border: 2px solid #383838; 
    transition: border-color 0.3s ease-in-out;
    outline: none; 
}

#global-input:focus {
    border-color: #6145b49f; /* Reunusväri focus-tilassa */
}

/* Global Select-element styling */
#global-select {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 0.7rem;
    background: #000;
    /* Border */
    border: 2px solid #383838; 
    transition: border-color 0.3s ease-in-out; 
    outline: none; 
    color: rgb(138, 138, 138);
}

#global-select option {
    width: 100%; 
    text-align: left;
}

#global-select:focus {
    border-color: #6145b49f; 
}

#global-select::placeholder {
    color: white; 
}
